<html>
	<head>
	  <title>Text Editor</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/static/style.css"/>
	  <h1 class="header__h1">Type Away!</h1>
	</head>
	<!--input type="text" id="content" pattern="[a-z]" onkeypress="this.style.width = ((this.value.length + 10) * 20) + 'px';"><br-->
	<div id="textarea">|</div>

	<script src="/static/global.js"></script>
	<script src="/static/def.js"></script>
	<script src="/static/crdt.js"></script>
	<script src="/static/init.js"></script>
	<script src="/static/listener.js"></script>

  </html>



  